<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="<%= locals.description %>" />
    <title><%= locals.title %></title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div class="wrapper">
      <h2>USER REGISTRATION SYSTEM</h2>
      <p><%= locals.message %></p>

      <div class="text">
        <h3>
          <a href="/">&larr; Back</a>
        </h3>
      </div>
    </div>
  </body>
</html>
